body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    color: #333;
    transition: background-color 0.3s, color 0.3s;
}

input,
label,
button {
    margin: 5px 0;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    border: 1px solid black;
    padding: 5px;
}

/* Mudar o tema da página */

#theme-toggle {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 9999;
    cursor: pointer;
}

.light-theme {
    background-color: #f5f5f5;
    color: #333;
}

.dark-theme {
    background-color: #333;
    color: #fff;
}

/* .material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 100,
        'GRAD' 200,
        'opsz' 48
} */